[Unit]
Description=Fan Control Service
After=network.target

[Service]
ExecStart=~/pi-fan-controller/fancontrol.py
WorkingDirectory=~/pi-fan-controller
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target